/* Ümumi səhifə kodları*/
body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

ol, ul {
	list-style: none;
    padding: 0px;
    margin: 0px;
}

img{
    width: 100%;
}

a{
    text-decoration: none;  
}

.col-7{
    padding-left: 15px;
    padding-right: 15px;
   
}
.col-5{
    padding-left: 15px;
    padding-right: 15px;
    
}
.col-2{
    padding-left: 15px;
    padding-right: 15px;
    

}

.container{
    
}
/*header-infodakı menu-aboutun kodları */

.header-info-menu-about ul{
    display: flex;
}

.header-info-menu-about ul li a{
    font-size: 12px;
    color: #777;
    font-weight: 500;
    transition: 0.5s;
    margin-right: 10px;
}

.header-info-menu-about ul li a:hover{
    color:#ff003c
}

/*header-infodakı menu-customer-options kodları  */

.header-info-menu-customer ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header-info-menu-customer ul li{
    margin-left: 25px;
    
}

.header-info-menu-customer ul li:nth-child(2) a {
    font-size: 22px;
    color: black; 
    transition: 0.2s;
    position: relative;

}
.header-info-menu-customer ul li:nth-child(2) a:first-child{
    margin-right: 18px;
}



.header-info-menu-customer ul li a:hover i{
    color:red;
}
.header-info-menu-customer ul li:nth-child(3) a{
    font-size:12px; 
    font-weight: 500;
    color:#777;
    transition: 0.5s;

}
.header-info-menu-customer ul li:nth-child(3) a:hover{
    color:red

}
.header-info-menu-customer ul li:nth-child(2) a sup{
    font-size: 12px;
    color: red;
    position: absolute;
    top: -5px;
} 



.header-info-menu-customer ul li:first-child a{
    font-size: 14px;
    color: #099D0D;
    font-weight: 500
}


.header-info-menu-customer ul li:nth-child(4) {
    width: 19px;
    display: flex;
}

.header-info-menu-customer ul li:nth-child(4) img:last-child{
    margin-left: 10px;
}

/* header-bradn*/

#header-brand {
    margin-right: -15px;
    margin-left: -15px;
   
    
}
#header-brand .col-2{
    display: flex;
    align-items: center;
}

.header-brand-logo{
    border:1px solid red;
    display: flex;
    align-items: center;
    
}
.header-brand-logo a:nth-child(1) img{
    width: 45px;
}
.header-brand-logo a:nth-child(2) h1{
    color: black;
}

.header-brand-menu-general a{
    border:1px solid green;
    display: flex;
    align-items: center;
    
}

.header-brand-menu-general a img{
    width: 24px;
}
.header-brand-menu-general a {
    font-size: 14px;
    font-weight: 500;
    color: #282828;
}
.header-brand-menu-general a span{
    margin-left: 10px;
}


.header-brand-search{
    border:1px solid black;

}

.header-brand-account{
    border:1px solid blue;
}

