/*header-info styles start*/

/*header-info menu-about styles start */
.header-info-menu-about ul li a{
    font-size: 12px;
    color: #777;
    font-weight: 500;
    transition: 0.5s;
    margin-right: 10px;
}
/* header-info menu-about styles end */

/*header-info menu-customer-options styles start */
.header-info-menu-customer ul li{
    margin-left: 25px;
    
}

.header-info-menu-customer ul li:nth-child(2) a {
    font-size: 22px;
    color: black; 
    transition: 0.2s;
    position: relative;

}

.header-info-menu-customer ul li:nth-child(2) a:first-child{
    margin-right: 18px;
}

.header-info-menu-customer ul li a:hover i{
    color:#ff003c;
    
}

.header-info-menu-customer ul li:nth-child(3) a{
    font-size:12px; 
    font-weight: 500;
    color:#777;
    transition: 0.5s;

}

.header-info-menu-customer ul li:nth-child(2) a sup{
    font-size: 12px;
    color:#ff003c;
   
    position: absolute;
    top: -5px;
} 

.header-info-menu-customer ul li:first-child a{
    font-size: 14px;
    color: #099D0D;
    font-weight: 500
}

.header-info-menu-customer ul li:nth-child(4) {
    width: 19px;
    display: flex;
}

.header-info-menu-customer ul li:nth-child(4) img:last-child{
    margin-left: 10px;
}
/* header-info menu-customer-options styles end */

/* header-brand styles start*/

#header-brand {
    margin-right: -15px;
    margin-left: -15px;
    padding: 17px 0px 17px 0px;
   
    
}

/* header-brand-logo styles start */
.header-brand-logo a:nth-child(2){
    color: black;
    font-size: 24px;
    font-weight: 600;
}


.header-brand-logo a:nth-child(1) img{
    width: 45px;
}
/* header-brand-logo styles end */

/* header-brand-menu general styles start */
.header-brand-menu-general a img{
    width: 26px;
}
.header-brand-menu-general a {
    font-size: 14px;
    font-weight: 500;
    color: #282828;
}
.header-brand-menu-general a span{
    margin-left: 5px;
    
}
/* header-brand-menu-general styles end */

/* header-brand-search styles start */
.header-brand-search{
    width: 100%;
    display: flex;
}

.header-brand-search input{
    border: 1px solid #d8d8d8;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    padding: 14px 2px 14px 15px;
    width: 85%;
}

.header-brand-search input:focus{
    cursor: auto;
    outline: none;
    box-shadow: none;
}
    
.header-brand-search button{
    width: 10%;
    border: 1px solid #d8d8d8;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: white;
}

.header-brand-search button:hover{
    cursor:pointer;
}

.header-brand-search button i{
    font-size: 22px;
}
/* header-brand-search styles end */

/* hrader-brand-account styles start */
.header-brand-account a{
    padding: 0px 10px 0px 10px;
}
.header-brand-account a sup{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.header-brand-account a i{
    font-size:  24px;
    color: black;
    transition: 0.2s;
}

.header-brand-account a:hover i {
    color: #ff003c;
}
/* header-brand-account styles end */

/* sidebar styles start */


#sidebar ul{
    border: 2px solid rgba(0,0,0,.08);
}
#sidebar ul li{
    
    padding: 5px;
    display: flex;
    align-items:center;
}

#sidebar ul li span{
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: -.32px;
    color: #545353;
    border-bottom: 1px solid #9d9999;
}

#sidebar ul li i{
    font-size: 20px;
    width: 24px;
    margin-right: 15px;
    color: rgb(119, 12, 12);
    border: none;
    
}

